<div class="container main-container">
    <div id="input" class="row">
        <form id="input-form" action="/" method="POST">
            <label id="name-input-label" for="username">Please, enter your name: </label>
            <input name="name"type="text" id="name-input">
            <label id="age-input-label" for="age">Please, select your age: </label>
            <input name="age" type="number" id="age-input" min="18" max="100">
            <label id="pic-input-label" for="pic">Please, insert a link to your picture: </label>
            <input name="pic" type="text" id="pic-input">
            <input id="submitter" class="input-line" type="submit" value="Take survey">
        </form>
    </div>
    <div id="user-display"></div>
</div>