<h1 class="text-center text-white">Hello, Welcome to Friend Finder!</h1>
<br/>
<div class="container main-container">
    <div id="input" class="row">
        <form id="input-form" action="/" method="POST">
            <p><label class="index-span" id="name-input-label" for="username">Please, enter your name: </label>
            <input class="index-span input" name="name" type="text" id="name-input"></p>
            <p><label class="index-span" id="age-input-label" for="age">Please, select your age: </label>
            <input class="index-span input" name="age" type="number" id="age-input" min="18" max="100"></p>
            <p><label class="index-span" id="pic-input-label" for="pic">Please, insert a link to your picture: </label>
            <input class="index-span input" name="pic" type="text" id="pic-input"></p>
            <input class="index-span" id="submitter" class="input-line" type="submit" value="Take survey">
        </form>
    </div>
    <div id="user-display"></div>
</div>

<script>
	$(document).ready(function(){
    $('#submitter').attr('disabled',true);
    $('#pic-input' ).keyup(function(){
        if(($(this).val().length !=0)&&($('#name-input').val().length !=0)&&($('#age-input').val().length !=0))
            $('#submitter').attr('disabled', false);            
        else
            $('#submitter').attr('disabled',true);
    })
    $('#age-input' ).keyup(function(){
        if(($(this).val().length !=0)&&($('#name-input').val().length !=0)&&($('#pic-input').val().length !=0))
            $('#submitter').attr('disabled', false);            
        else
            $('#submitter').attr('disabled',true);
    })
    $('#name-input' ).keyup(function(){
        if(($(this).val().length !=0)&&($('#pic-input').val().length !=0)&&($('#age-input').val().length !=0))
            $('#submitter').attr('disabled', false);            
        else
            $('#submitter').attr('disabled',true);
    })
});
</script>