<h1>You're matched!</h1>

<div class="container main-container">
    <p><div class="matchPic">{{picture}}</div></p>
    <p><div class="matchName">{{name}}</div></p>
    <p><div class="matchAge">{{age}}</div></p>
</div>