<h1>You're matched!</h1>

<div class="container main-container">
    <p><img class="matchPic" style='width:400px'src={{picture}}></p>
    <p><div class="matchName">{{name}}</div></p>
    <p><div class="matchAge">Age: {{age}}</div></p>
</div>