<h1 class="text-center text-white">You're matched!</h1>

<div class="container main-container">
    <p class="text-center"><img class="matchPic text-center" style='width:400px'src={{picture}}></p>
    <p><h3 class="matchName text-center">{{name}}</h3></p>
    <p><h4 class="matchAge text-center">Age: {{age}}</h4></p>
</div>