<h1>Welcome to Friend Finder</h1>

<h3>Answer the questions to match with potential friend</h3>

<ul>
  {{#each question}}
  	<li>
  	   <p>Question #{{this.id}}</p>
       <p class="font-weight-bold">{{this.question}}</p>
			 <div class="slider"></div>
  	</li>
  {{/each}}
</ul>
<form action="/" method="POST">
	<button type="submit">Submit</button>
</form>
